In [1]:
import pandas as pd

In [81]:
df = pd.read_csv(r'C:\Users\Mantyk\Desktop\Data Analysis\Filmweb\Working\PyCharm\Reviews')

In [82]:
df.shape

(76571, 3)

In [83]:
df = df.dropna()
df = df.drop_duplicates()

In [84]:
df.shape

(69534, 3)

In [85]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 69534 entries, 0 to 76570
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   user_name  69534 non-null  object
 1   score      69534 non-null  float64
 2   movie      69534 non-null  object
dtypes: float64(1), object(2)
memory usage: 2.1+ MB

In [86]:
df.head()

      user_name  score         movie
0       Thorson   10.0  Zielona mila
1         krupy    5.0  Zielona mila
2  alfabecik123   10.0  Zielona mila
3       ktosika    5.0  Zielona mila
4      roki3225   10.0  Zielona mila

In [87]:
df['user_id'] = df.groupby('user_name').ngroup()
df['movie_id'] = df.groupby('movie').ngroup()

In [88]:
df.sort_values('user_id')

,user_name,score,movie,user_id,movie_id
44766,*K0ras*,8.0,Vinci,0,521
50838,*K0ras*,6.0,Święci z Bostonu,0,583
8865,-Grail-,4.0,Bruce Wszechmogący,1,57
52359,-Grail-,3.0,Pokuta,1,394
56232,-Grail-,2.0,Holiday,1,183
...,...,...,...,...,...
60055,zytka_2,10.0,Urodzeni mordercy,30626,516
35191,zywy_84,4.0,Gwiezdne wojny: Część I - Mroczne widmo,30627,160
44011,zzz_5,4.0,Ojciec chrzestny III,30628,349
2367,zzzaq,9.0,Siedem,30629,441
4985,Łochroniaż,9.0,Django,30630,98

In [89]:
userRatings = df.pivot_table(index=['user_id'],columns=['movie'],values='score')
userRatings.head()

movie,12 małp,127 godzin,13. dzielnica,1408,2001: Odyseja kosmiczna,2012,21 Jump Street,21 gramów,300,500 dni miłości,...,Łowca androidów,Łowca jeleni,Śniadanie u Tiffany'ego,Święci z Bostonu,Źródło,Życie Carlita,Życie Pi,Życie jest piękne,Życie za życie,Żywot Briana
user_id,,,,,,,,,,,,,,,,,,,,,
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [90]:
corrMatrix = userRatings.corr()
corrMatrix.head()

movie,12 małp,127 godzin,13. dzielnica,1408,2001: Odyseja kosmiczna,2012,21 Jump Street,21 gramów,300,500 dni miłości,...,Łowca androidów,Łowca jeleni,Śniadanie u Tiffany'ego,Święci z Bostonu,Źródło,Życie Carlita,Życie Pi,Życie jest piękne,Życie za życie,Żywot Briana
movie,,,,,,,,,,,,,,,,,,,,,
12 małp,1.000000,0.785674,0.733709,-1.0,0.944911,-0.944911,NaN,0.300268,0.833333,NaN,...,-0.327327,0.738549,NaN,1.000000,1.000000,0.575000,0.484123,0.836056,0.306186,0.944911
127 godzin,0.785674,1.000000,NaN,NaN,NaN,-0.511408,NaN,0.663403,0.216930,-0.654654,...,NaN,0.500000,-0.109109,1.000000,0.581914,0.301511,0.889297,0.960769,-1.000000,1.000000
13. dzielnica,0.733709,NaN,1.000000,1.0,NaN,1.000000,0.866025,-1.000000,0.676802,NaN,...,NaN,NaN,-1.000000,0.984324,1.000000,NaN,0.960769,-0.500000,NaN,NaN
1408,-1.000000,NaN,1.000000,1.0,NaN,-0.917663,-0.547723,NaN,0.973729,NaN,...,NaN,1.000000,NaN,1.000000,NaN,NaN,NaN,-1.000000,NaN,NaN
2001: Odyseja kosmiczna,0.944911,NaN,NaN,NaN,1.000000,1.000000,0.500000,0.866025,NaN,NaN,...,0.607831,0.774917,NaN,NaN,NaN,-0.270031,0.146795,0.448211,NaN,1.000000

In [91]:
corrMatrix = userRatings.corr(method='pearson', min_periods=10)
corrMatrix.head()

movie,12 małp,127 godzin,13. dzielnica,1408,2001: Odyseja kosmiczna,2012,21 Jump Street,21 gramów,300,500 dni miłości,...,Łowca androidów,Łowca jeleni,Śniadanie u Tiffany'ego,Święci z Bostonu,Źródło,Życie Carlita,Życie Pi,Życie jest piękne,Życie za życie,Żywot Briana
movie,,,,,,,,,,,,,,,,,,,,,
12 małp,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
127 godzin,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
13. dzielnica,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1408,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2001: Odyseja kosmiczna,NaN,NaN,NaN,NaN,1.0,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [92]:
df['user_id'].value_counts().head(20)

12621    211
25009    198
26566    198
9682     188
20190    187
7955     171
24226    159
6451     158
4797     140
13665    139
26297    118
27660    109
11771    106
3451      99
10960     99
20395     98
8346      94
25780     93
3481      92
17563     84
Name: user_id, dtype: int64

In [98]:
myRatings = userRatings.loc[11771].dropna()
myRatings

movie
12 małp                       8.0
Ace Ventura: Psi detektyw     7.0
Amelia                        7.0
Apollo 13                     6.0
Baby Driver                   7.0
                             ...
Wściekłe psy                  9.0
Znaki                         7.0
Złap mnie, jeśli potrafisz    6.0
Łowca jeleni                  8.0
Życie Carlita                 8.0
Name: 11771, Length: 106, dtype: float64

In [99]:
simCandidates = pd.Series()
for i in range(0, len(myRatings.index)):
    print ("Adding sims for " + myRatings.index[i] + "...")
    # Retrieve similar movies to this one that I rated
    sims = corrMatrix[myRatings.index[i]].dropna()
    # Now scale its similarity by how well I rated this movie
    sims = sims.map(lambda x: x * myRatings[i])
    # Add the score to the list of similarity candidates
    simCandidates = simCandidates.append(sims)
    
#Glance at our results so far:
print ("sorting...")
simCandidates.sort_values(inplace = True, ascending = False)
print (simCandidates.head(10))

Adding sims for 12 małp...
Adding sims for Ace Ventura: Psi detektyw...
Adding sims for Amelia...
Adding sims for Apollo 13...
Adding sims for Baby Driver...
Adding sims for Batman...
Adding sims for Big Lebowski...
Adding sims for Blade Runner 2049...
Adding sims for Bogowie...
Adding sims for Bohemian Rhapsody...
Adding sims for Boyhood...
Adding sims for Casablanca...
Adding sims for Chłopaki nie płaczą...
Adding sims for Cienka czerwona linia...
Adding sims for Co gryzie Gilberta Grape'a...
Adding sims for Czas Apokalipsy...
Adding sims for Cztery pokoje...
Adding sims for Człowiek z blizną...
Adding sims for Dawno temu w Ameryce...
Adding sims for Desperado...
Adding sims for Django...
Adding sims for Dobrze się kłamie w miłym towarzystwie...
Adding sims for Dogville...
Adding sims for Doktor Strange...
Adding sims for Dziecko Rosemary...
Adding sims for Dziewiąte wrota...
Adding sims for Dług...
Adding sims for Edward Nożycoręki...
Adding sims for Forrest Gump...
Adding sims for Full Metal Jacket...
Adding sims for Gangi Nowego Jorku...
Adding sims for Gorączka...
Adding sims for Gra...
Adding sims for Gran Torino...
Adding sims for Green Book...
Adding sims for Głupi i głupszy...
Adding sims for Hannibal...
Adding sims for Helikopter w ogniu...
Adding sims for Imperium Słońca...
Adding sims for Infiltracja...
Adding sims for Inni...
Adding sims for Irlandczyk...
Adding sims for John Wick...
Adding sims for K-PAX...
Adding sims for Kasyno...
Adding sims for Kevin sam w domu...
Adding sims for Kill Bill...
Adding sims for Kill Bill 2...
Adding sims for Kler...
Adding sims for Las Vegas Parano...
Adding sims for Lista Schindlera...
Adding sims for Logan: Wolverine...
Adding sims for Lęk pierwotny...
Adding sims for Maska...
Adding sims for Matrix...
Adding sims for Matrix Reaktywacja...
Adding sims for Matrix Rewolucje...
Adding sims for Melancholia...
Adding sims for Miasto 44...
Adding sims for Miś...
Adding sims for Morderstwo w Orient Expressie...
Adding sims for Nagi instynkt...
Adding sims for Najlepszy...
Adding sims for Narodziny gwiazdy...
Adding sims for Next...
Adding sims for Nienawistna ósemka...
Adding sims for Oczy szeroko zamknięte...
Adding sims for Ojciec chrzestny...
Adding sims for Ojciec chrzestny II...
Adding sims for Ojciec chrzestny III...
Adding sims for Osada...
Adding sims for Parasite...
Adding sims for Parnassus...
Adding sims for Pewnego razu... w Hollywood...
Adding sims for Pianista...
Adding sims for Piękny umysł...
Adding sims for Planeta Singli...
Adding sims for Pokłosie...
Adding sims for Porachunki...
Adding sims for Poszukiwacze zaginionej Arki...
Adding sims for Przekręt...
Adding sims for Przeminęło z wiatrem...
Adding sims for Pulp Fiction...
Adding sims for Raport mniejszości...
Adding sims for Rzeź...
Adding sims for Sala samobójców...
Adding sims for Sens życia wg Monty Pythona...
Adding sims for Siedem lat w Tybecie...
Adding sims for Stowarzyszenie Umarłych Poetów...
Adding sims for Symetria...
Adding sims for Szósty zmysł...
Adding sims for Tajemnica Brokeback Mountain...
Adding sims for Taksówkarz...
Adding sims for Truman Show...
Adding sims for Twój Vincent...
Adding sims for Uciekaj!...
Adding sims for Urodzeni mordercy...
Adding sims for W ciemności...
Adding sims for Wolny strzelec...
Adding sims for World War Z...
Adding sims for Wyspa tajemnic...
Adding sims for Wściekłe psy...
Adding sims for Znaki...
Adding sims for Złap mnie, jeśli potrafisz...
Adding sims for Łowca jeleni...
Adding sims for Życie Carlita...
sorting...
Cienka czerwona linia          10.0
Pulp Fiction                   10.0
Pewnego razu... w Hollywood    10.0
Forrest Gump                   10.0
Dziecko Rosemary                9.0
Matrix                          9.0
Kasyno                          9.0
Taksówkarz                      9.0
Głupi i głupszy                 9.0
Oczy szeroko zamknięte          9.0
dtype: float64

C:\Users\Mantyk\AppData\Local\Temp/ipykernel_13004/806589828.py:1: DeprecationWarning: The default dtype for empty Series will be 'object' instead of 'float64' in a future version. Specify a dtype explicitly to silence this warning.
  simCandidates = pd.Series()

In [100]:
simCandidates = simCandidates.groupby(simCandidates.index).sum()

In [101]:
simCandidates.sort_values(inplace = True, ascending = False)
simCandidates.head(10)

Batman                       63.166822
Życie Carlita                50.425846
Wściekłe psy                 42.098169
Szklana pułapka              41.041898
Matrix Reaktywacja           41.012547
Ace Ventura: Psi detektyw    37.975315
Maska                        37.110178
Matrix Rewolucje             36.941333
Kasyno                       36.312620
Kill Bill                    36.243137
dtype: float64

In [102]:
filteredSims = simCandidates.drop(myRatings.index)
filteredSims.head(10)

Szklana pułapka        41.041898
Chłopcy z ferajny      29.677334
Adwokat diabła         26.346622
Zapach kobiety         26.009556
Seksmisja              20.885650
American Beauty        19.791234
Pan życia i śmierci    18.857861
Ja, robot              18.138237
Pluton                 17.447742
Czerwony smok          15.951859
dtype: float64